$primary:#c8b6ff;
$middle:#e7c6ff;
$second:#bbd0ff;
$light:#feeafa;
$force:#3c096c;
$active:#548c2f;

* {
  font-family: "Maple Mono Normal NL NF CN";
  font-weight: bold;
  font-size: 20px;
}

#waybar{
	background-color: rgba(0, 0, 0, 0);
	padding-left: 20px;
	padding-right: 20px;
    margin-top: 10px;
}

#workspaces{
	background-color: $primary;
	margin: 0 3px;
	border-radius: 10px;
}

#workspaces button{
	color: $force;
	padding: 4px;
	border-radius: 10px;
}

#network,
#pulseaudio,
#battery,
#clock,
#window,
#taskbar,
#custom-poweroff,
#tray{
	background-color: $primary;
	color: $force;
	padding: 0 10px;
	margin:0 6px;
	border-radius: 10px;
}

#workspaces button:hover{
	background-color: $second;
	padding: 4px;
	color: $light;
    font-size: 30px;
}

#workspaces button.active{
	color: $light;
}

