$primary:#c8b6ffef;
$middle:#e7c6ff;
$second:#b8c0ff;
$light:#ffcbf2;
$force:#3c096c;

window {
    margin: 3px;
    border: none ;
    border-radius: 8px;
    background-color: $primary;
    font-family: "Maple Mono Normal NL NF CN";
    font-size: 14px;
}

#input {
    margin: 16px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: $middle;
    color: $force;
}

#input:selected {
    box-shadow: #000000f5 0px 0px 20px 5px;
}

#outer-box {
    border-radius: 8px;
}

#inner-box {
    margin: 0px 16px 16px 16px;
    border-radius: 8px;
}

#entry {
    padding: 12px;
    margin: 4px 0;
    border-radius: 8px;
    color: $force;
    transition: all 0.2s ease-in-out;
}

#img {
    margin-right: 20px;
}

#entry:selected {
    background: linear-gradient(270deg, $middle, $light);
}

#text:selected {
    color: $force;
}

#img {
  width: 30%;
}
